# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Distribution
build/
dist/
*.egg-info/

# Environment files
.env

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml